<h1>All Comments</h1>

<table>
  <thead>
    <tr>
      <td>Comments</td>
      <td>Products</td>
      <!-- <td></td> -->
    </tr>
  </thead>
  <tbody>
    <% @comments.each do |comment| %>
    <tr>
      <td><%= comment.comment %></td>
      <td><%= comment.product.name %></td>
      <!-- <td></td> -->
    </tr>
    <% end %>
  </tbody>
</table>
